.cc{
    color: #ff8c00 ;
}
.App{
    display: flex;
}
.App>div{
    width: 16rem;
    /* position: absolute; */
    text-align: center;
    /* height: 100vh; */
}
canvas {
width:calc(100% - 16rem);
height: 100vh;
}

